body {
    font-family: Arial, sans-serif;
    background-image: url('tausta4.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #c62828;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 0px; 
}

header {
    background-image: url('tausta7.jpeg');
    background-size: cover;
    background-position: center;
    padding: 50px; 
    text-align: center;
    font-size:50px;
    color:white;
}

section {
    margin: 20px;
    margin-top:0;
    margin-bottom: 0;
    text-align: left;
}

.gift-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gift {
    width: 300px;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gift img {
    max-width: 100%;
    height: auto;
}

.gift h3 {
    color: #333;
}

section::before {
    content: " ";
    display: table;
    clear: both;
}

.gift-container::after {
    content: " ";
    display: table;
    clear: both;
}

.gift::before {
    content: "\2605";
    font-size: 1.5em;
    color: #c62828;
    float: left;
    margin-right: 5px;
}
