body {
    font-family: Garamond, serif;
    font-size:20px;
    background-image: url('tausta8.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #c62828;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 0px; 
}

header {
    background-size: cover;
    background-position: center;
    padding: 50px; 
    text-align: center;
    font-size:40px;
    color:#c62828;
    text-decoration:underline;
    margin-top:-60px;
}

section {
    margin-top:-60px;
    text-align: left;
    margin-left:20px;
}

.gift-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gift {
    width: 300px;
    margin: 1em;
    padding: 1em;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.gift img {
    max-width: 100%;
    height: auto;
    margin-top:auto;
}

.gift h3 {
    color: #333;
    margin-top:auto;
}

section::before {
    content: " ";
    display: table;
    clear: both;
    margin-top:15px;
}

.gift-container::after {
    content: " ";
    display: table;
    clear: both;
}

.gift::before {
    content: "";
    font-size: 1.5em;
    color: #c62828;
    float: left;
    margin-right: 5px;
}
